amqp==1.4.4
anyjson==0.3.3
asn1crypto==0.22.0
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.16
celery==5.2.2
cffi==1.10.0
chardet==2.2.1
cool-api==0.0.1
cryptography==3.2
Django==1.11.2
django-cas-ng==3.4.3
Django-ConfPages==0.1.1
django-mongoengine==0.2.1
django-redis-cache==0.11.1
enum34==1.1.6
Fabric==1.13.2
flower==0.6.0
giants==0.0.8
hiredis==0.1.2
httplib2==0.9
idna==2.5
ipaddress==1.0.18
JsonSir==0.0.2
kombu==3.0.35
mock==1.0.1
mongoengine==0.10.6
msgpack-python==0.4.8
ndg-httpsclient==0.4.2
newrelic==2.34.0.29
paramiko==2.1.2
Pillow==2.5.1
py==1.4.34
pyasn1==0.1.7
pycparser==2.17
pycrypto==2.6.1
pymongo==2.6.3
pyOpenSSL==17.0.0
pytest==3.1.1
Python-Crest==0.1.6
Python-EasyConfig==0.1.6
pytz==2017.2
PyYAML==5.4
raven==4.2.1
redis==2.9.1
requests==2.5.3
requests-file==1.4.2
rsa==3.1.4
sendgrid==1.5.20
simplejson==3.3.3
six==1.9.0
smtpapi==0.1.1
tldextract==2.0.1
tornado==3.2
urllib3==1.21.1
web.py==0.37
